@charset "UTF-8";

:root{
    --ciano: #49a09d;
    --lilas: #5f2c82;
}


@media screen and (min-width:768px) and (max-width:1024px) {
    body{
        background-image: linear-gradient(to top, var(--ciano), var(--lilas));
    }
    
    section#login{
        width: 80vw;
        height: 340px;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    
    div#formulario{
        float: right;
        width: 70%;

    }

    h1{
        font-size: 2em;
    }
    
    p{
        font-size: 1.5em;
    }
}

@media screen and (min-width:1024px){
    body{
        background-image: linear-gradient(to top, var(--ciano), var(--lilas));
    }

    section#login{
        width: 1024px;
        height: 360px;

    }

    div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }

    div#formulario{
        float: left;
        width: 60%;
        text-align: left;
    }

    h1{
        font-size: 2.5em;
    }
    
    p{
        font-size: 1.5em;
    }

}